@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 96vh;
    background: radial-gradient(#7b1888, #7f00ff);
    padding: 15px;
}

main, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    min-width: 420px;
    max-width: 700px;
    margin: 100px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    border: none;
}

main h1, form h1 {
    font-weight: 300;
    font-size: 2.5em;
    margin: 30px 0;
}

form input, textarea {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    min-width: 300px;
    border: 1px solid #c1c1c1;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.4em;
}

form button {
    padding: 15px;
    width: 290px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

form button:hover {
    opacity: 0.9;
    cursor: pointer;
}

form button:active {
    transform: translateY(1px);
}